<form>
  <div class="form-group">
    <input [(ngModel)]="title" name="title" type="text" class="form-control" placeholder="title here...">
  </div>
  <div class="form-group">
    <button *ngIf="!editStatus" (click)="addCategory()" type="button" class="btn btn-block btn-dark">Add</button>
    <button *ngIf="editStatus" (click)="saveEditCategory()" type="button" class="btn btn-block btn-dark">Save Edit</button>
  </div>
</form>
<hr>
<table class="table">
    <thead> 
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of adminCategorys; let i=index">
            <td>{{i+1}}</td>
            <td>{{cat.title}}</td>
            <td>
                <button class="btn btn-dark" (click)="editCategory(cat)">Edit</button>
            </td>
            <td>
                <button [disabled]="editStatus" class="btn btn-dark" (click)="deleteCategory(cat)">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>

<!-- <button (click)="getDisData()">getData</button> -->
