<h1 class="h1">{{title}}</h1>
<div class="container">
    <div *ngFor="let prod of salads" class="card bg-light m-2" style="width: 18rem;">
      <img [src]=prod.src class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{prod.title}}</h5>
        <p class="card-text text">{{prod.text}}</p>
        <hr>
        <p  class="card-text price">{{prod.price}}  грн.</p>
        <div [routerLink]="[ '/pizza', prod.id ]"  class="btn-order">Детальніше</div>
        
      </div>
    </div>
  </div>