<h1 class="h1">{{title}}</h1>
<div class="container">
    <div *ngFor="let prod of product" class="card bg-light m-2" style="width: 18rem;">
      <img [src]=prod.src class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{prod.title}}</h5>
        <p class="card-text text">{{prod.text}}</p>
        <hr>
        <!-- <p *ngIf="prod.size" class="card-text">Розмір {{prod.size}}</p>
        <p *ngIf="prod.weight" class="card-text">Вага {{prod.weight}}</p> -->
        <p  class="card-text price">{{prod.price}}  грн.</p>
        <div class="btn-order">Замовити</div>
        
      </div>
    </div>
  </div>