<div class="container-fluid">
  <!-- <div><h1 class="h1">Найкраща Піца в місті</h1></div> -->
  <div class="all">
                <div class="lefter" routerLink="/discount">
                  <div class="text">Акції</div>
                </div>
                <div class="left" routerLink="/salad">
                  <div class="text">Салати</div>
                </div>
                <div class="center" routerLink="/pizza">
                  <div class="explainer"><span>Піца ТуТ</span></div>
                  <div class="text">Піца</div>
                  </div>
                <div class="right" routerLink="/drinks">
                  <div class="text">Напої</div>
                </div>
                <div class="righter" routerLink="/about">
                  <div class="text">Про нас</div>
                </div>
                </div>
                
              



</div>
<!-- <div class="my-slider">
  <div><img src="../../../assets/img/bgPizza.jpg" alt=""></div>
  <div></div>
  <div></div>
</div>  -->