.container-fluid{
    height: calc(100vh - 106px);
    background-image: url(../../../assets/img/pizza-light-background.jpg);
}
.h1 {
    text-align: center;
    font-size: 55px;
    line-height: 65px;
    color: #0e0e0e;
    font-family: cursive;
    font-weight: 500;
    margin: 10px;
  }