<p>home works!</p>
<!-- {{ varable | pipes }}
 {{ varable | pipes:param:param }} -->
<!-- <ul>
    <li>{{ 'Some text' | lowercase}}</li>
    <li>{{ 'Some text' | uppercase}}</li>
    <li>{{ 'Some text' | slice:3}}</li>
    <li>{{ 'Some text' | slice:1:6}}</li>
    <li>{{ myDate}}</li>
    <li>{{ myDate | date}}</li>
    <li>{{ myDate | date:'short'}}</li>
    <li>{{ myDate | date:'medium'}}</li>
    <li>{{ myDate | date:'long'}}</li>
    <li>{{ myDate | date:'full'}}</li>
    <li>{{ myDate | date:'shortDate'}}</li>
    <li>{{ myDate | date:'mediumDate'}}</li>
    <li>{{ myDate | date:'longDate'}}</li>
    <li>{{ myDate | date:'fullDate'}}</li>
    <li>{{ myDate | date:'shortTime'}}</li>
    <li>{{ myDate | date:'mediumTime'}}</li>
    <li>{{ myDate | date:'longTime'}}</li>
    <li>{{ myDate | date:'fullTime'}}</li>
    <li>{{ myDate | date:'H:mm z'}}</li>
    <li>{{ salary | currency }}</li>
    <li>{{ salary | currency:'EUR' }}</li>
    <li>{{ salary | currency:'GBP' }}</li>
    <li>{{ salary | currency:'UAH':'symbol-narrow'}}</li>
    <li>{{ salary | currency:'UAH':'symbol-narrow':'4.1-2'}}</li>
    <li>{{ salary}}</li>
    <li>{{ salary | number}}</li>
    <li>{{ salary | number:'10.0-0'}}</li>
    <li>{{ object | json}}</li>
    <li>{{ object | json | slice:3}}</li>
    <li>{{ 'some text' | titlecase }}</li>
    <li>{{ 'sOme teXt' | titlecase }}</li>
    <li>{{ 'sOme,teXt' | titlecase }}</li> -->
    <!-- <li>{{ salary | hryvnia }}</li> -->
    <!-- <li>{{ 'some text' | hryvnia }}</li>
    <li>{{ 'sOme teXt' | hryvnia }}</li>
    <li>{{ 'sOme,teXt' | hryvnia }}</li>
</ul>
<hr> -->
<!-- <li *ngFor="let user of users | hryvnia:'30'">{{user.id}} {{user.name}} {{user.age}}</li>
<hr> -->
<!-- app
    shared
        classes
        interfaces
        directives
        pipes
        services -->
